<!-- Default form register -->
<form class="text-center border border-light pt-2" action="/buyers/register" method="POST">

        <p class="h4 mt-2">Sign up</p>
    
    
        <!-- E-mail -->
        <input type="email" id="email" name="email" class="form-control mb-4" placeholder="E-mail">
    
        <!-- Password -->
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
        <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
    
        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Sign in</button>
    
        <!-- Social register -->
        <p>or sign up with:</p>
    
        <a type="button" class="light-blue-text mx-2">
            <i class="fa fa-facebook"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fa fa-twitter"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fa fa-linkedin"></i>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <i class="fa fa-github"></i>
        </a>
    
        <hr>
    
        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>. </p>
    
    </form>
    <!-- Default form register -->