<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>

    <!--Mask-->

    <!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <!-- Default form login -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign in</p>

  <!-- Image -->
  <input type="image" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Image">

  <!-- Title -->
  <input type="text" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Title">

  <!-- Description -->
  <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Description">

  <!-- price -->
  <input type="number" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="price">

  <!-- Sign in button -->
  <button class="btn btn-info btn-block my-4" type="submit">add movie / series</button>

</form>
<!-- Default form login -->               

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
       
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <!--Main layout-->
      <main>
        
      </main>
    <!--Main layout-->

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
