<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>
<h1>This is the checkout page</h1>
<form>
<input type="text" id="name" placeholder="Enter Name">
<input type="text" id="exampleInputEmail1" placeholder="Enter Address">
<input type="text" id="card-holder-name" placeholder="Card Holder Name">
<input type="text" id="card-number" placeholder="Card Number">
<input type="text" id="card-expiry-month" placeholder="Month">
<input type="text" id="card-expiry-year" placeholder="Year">
<input type="number" id="cvc-card" placeholder="CVC">
<button type="submit" class="btn btn-success">Buy Now</button>
</form>

</body>
</html>
