<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>
     <!--header layout-->  
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <div class="row checkout">
            <div class="col-8 tablau">
              <!--Main layout-->
      <main>
            <table class="table table-hover table-responsive-sm">
              <tbody>
                <thead>
                  <td>All Movies</td>
                </thead>
                <tr>
                  <td>
                    <!-- Card -->
    <div class="card">
    
      <!-- Card image -->
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
    
      <!-- Card content -->
      <div class="card-body">
    
        <!-- Title -->
        <h4 class="card-title"><a>Card title</a></h4>
          <!-- Button -->
        <a href="/checkout" class="btn btn-primary">Add</a>
    
      </div>
    
    </div>
    <!-- Card -->
                  </td>
                  <td>
                    <!-- Card -->
    <div class="card">
    
      <!-- Card image -->
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
    
      <!-- Card content -->
      <div class="card-body">
    
        <!-- Title -->
        <h4 class="card-title"><a>Card title</a></h4>
          <!-- Button -->
        <a href="#" class="btn btn-primary">Add</a>
    
      </div>
    
    </div>
    <!-- Card -->
                  </td>
                  <td>
                    <!-- Card -->
    <div class="card">
    
        <!-- Card image -->
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
      
        <!-- Card content -->
        <div class="card-body">
      
          <!-- Title -->
          <h4 class="card-title"><a>Card title</a></h4>
              <!-- Button -->
          <a href="#" class="btn btn-primary">Button</a>
      
        </div>
      
      </div>
      <!-- Card -->
                  </td>
                  <td>
                      <!-- Card -->
      <div class="card">
      
          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">
        
          <!-- Card content -->
          <div class="card-body">
        
            <!-- Title -->
            <h4 class="card-title"><a>Card title</a></h4>
                <!-- Button -->
            <a href="#" class="btn btn-primary">Button</a>
        
          </div>
        
        </div>
        <!-- Card -->
                    </tr>
        
                </tr>
              </tbody>
            </table>
          </main>
        <!--Main layout-->
    
            </div>
            <div class="col-4 payments">
             
                <!-- Group of default radios - option 1 -->
<div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
      </div>
      
      <!-- Group of default radios - option 2 -->
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
        <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
      </div>
      
      <!-- Group of default radios - option 3 -->
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
        <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
      </div>

            </div>
          </div>

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
