<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>
     <!--header layout-->  
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <!--Main layout-->
      <main>
        <table class="table table-hover table-responsive-sm">
          <tbody>
            <thead>
              <td>All Movies</td>
            </thead>
            
              <% for(var i=0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id %></td>
                  <td></td>
                </tr>
              <% } %>

          </tbody>
        </table>
      </main>
    <!--Main layout-->

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
