<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>
     <!--header layout-->  
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <!--Main layout-->
      <main>
        <table class="table table-hover table-responsive-sm">
          <tbody>
            <thead>
              <td>All Movies</td>
            </thead>
            <tr>
              <td>
                <!-- Card -->
              <div class="card">

                <!-- Card image -->
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

                <!-- Card content -->
                <div class="card-body">

                  <!-- Title -->
                  <h4 class="card-title"><a>Card title</a></h4>
                   <!-- Text -->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                     <!-- Text -->
                  <p class="card-text"> Price:</p>
                  <!-- Button -->
                  <a href="#" class="btn btn-primary">Add</a>

                </div>

              </div>
              <!-- Card -->
              </td>
        
            </tr>
          </tbody>
        </table>
      </main>
    <!--Main layout-->

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
