<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>

    <!--Mask-->

    <!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <!-- Default form login -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

  <!-- Password -->
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

  <div class="d-flex justify-content-around">
      <div>
          <!-- Remember me -->
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
          </div>
      </div>
      <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
      </div>
  </div>

  <!-- Sign in button -->
  <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

  <!-- Register -->
  <p>Not a member?
      <a href="/register">Register</a>
  </p>

  <!-- Social login -->
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
      <i class="fa fa-facebook"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fa fa-twitter"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fa fa-google"></i>
  </a>
  <a type="button" class="light-blue-text mx-2">
      <i class="fa fa-github"></i>
  </a>

</form>
<!-- Default form login -->               

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
       
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <!--Main layout-->
      <main>
        
      </main>
    <!--Main layout-->

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
