<!DOCTYPE html>
<html>
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>

    <!--header layout-->
    <%- include partials/header.ejs %>

    <!--Mask-->

    <!--Mask-->
<div id="intro" class="view">

    <div class="mask rgba-black-strong">

        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center register">

                <%- include partials/register.ejs %>                

            </div>

        </div>

    </div>

</div>
<!--/.Mask-->
       
    </div>
  <!--/.Mask-->

    <!--header layout-->

    <!--Main layout-->
      <main>
        
      </main>
    <!--Main layout-->

    <!--Footer-->
      <footer>

      </footer>
    <!--Footer-->

  </body>
</html>
