html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../images/bg.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

form{
  color: white;
}

.fa{
  width: 50px;
  height: auto;
}

table{
  margin-top: 60px;
}

.register{
  margin-top: 70px;
}

.col-4{
  border-left: 2px solid black;
}

.checkout{
  margin-top: 20px;
}

.sellerAdd{
  border-left: 2px solid black;
}
.navbar-toggler{
  background-color: rgba(15, 20, 49, 0.74);
}
#hackbit-vote-widget{
  margin-top: 70px;
}

.payments{
  margin-top: 80px;
}